* {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
}
body {
    background: rgb(18, 18, 18);
}
#image {
    height: 100%;
    margin: 0;
    padding: 0;
}
img {
    height: 100vh;
}

.background {
    background-color: rgb(6, 43, 62);
}

div > a {
    width: 50%;
    margin: auto;
}
p > a:hover{
    text-decoration: none;
    color: #ff0093;
}
p > a{
    text-decoration: none;
    color: #de3f9b;
}

@media (max-width: 1100px) {
    #colum{
        padding-left: 50px;;
        color: red;
    }
}
@media (max-width: 990px) {
    #image {
        display: none;
    }
}
