* {
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    background: rgb(18, 18, 18);
    color: white;
}

/*Navbar*/

.no-mostrar {
    display: none;
}

.dropdown-content {
    margin: 0;
    display: none;
    min-width: 300px;
    /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: -1px;
    /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden;
    /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
}

.dropdown-content li a {
    color: #ffffff;
}
.dropdown-content>li:hover {
    background-color: rgb(10, 3, 38);
}
.dropdown-content {
    background-color: rgb(10, 3, 38);
}


nav {
    background-color: rgb(10, 3, 38);
}

li>img {
    padding-top: 8px;
}

.elementos>li>a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
}

.elementos>li>a:hover {
    color: #1df800;
}

.elementos>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1df800;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.elementos>li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.logo{
    display: block;
    position: absolute;
    top: 5px;
    margin-left: 50px;
}
/*Fin Navbar*/


.btn-large {
    background-color: rgb(10, 3, 38);
}

.btn-large:hover {
    background-color: rgb(9, 3, 34);
}

.h {
    font-size: 20px;
}
.mt-0 {
    margin: 0;
    padding: 0;
}

.espacio {
    margin-top: 50px;
    margin-bottom: 30px;
}
.eliminar{
    background-color: red;
}

.eliminar:hover{
    background-color: #a20000;
}


.page-footer {
    background-color: rgb(10, 3, 38);
    color: #ffffff;
    margin-top: 100px;
}
.password{
    display: none;
}

.modal{
  background-color: rgb(10, 3, 38);
}
.modal-footer>a{
  color: red;
}

.modal-footer{
  background-color: white !important;
}
@media(max-width:992px) {
    .btn-large {
        width: 100%;
        margin-top: 12px;
    }

}
