<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="./css/curriculum.css">
    <script type="text/javascript">

    </script>
</head>
<body ng-app="user">
<div class="row" style="margin:0; padding:0;">
    <div class="col l4 m4 hide-on-small-only contenedor">
    </div>
    <div class="col l8 m8 forms center" ng-controller="myCtrl">
        <div class="row center">
            <a href="./index.html"><img src="./images/elfarolito.png" class="responsive-img" width="100"></a>
        </div>
        <h3 class="center">EDITAR CURRICULUM</h3>
        <hr>
        <div class="row">
            <div class="input-field col l6 s12">
                <i class="material-icons prefix">location_city</i>
                <input placeholder="Avenida siempre viva 101" id="direccion-curriculum" type="text" style="color: white;" ng-model="data.address">
                <label class="active" for="direccion-curriculum">Dirección</label>
            </div>
            <div class="input-field col l6 s12">
                <i class="material-icons prefix">phone_android</i>
                <input placeholder="Telefono" id="telefono-curriculum" type="text" style="color: white;" ng-model="data.telephone">
                <label for="telefono-curriculum">Telefono</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l6 s12" style="color: black">
                <i class="material-icons prefix" style="color: white">face</i>
                <input placeholder="15/05/1897" id="nacimiento-curriculum" type="text" class="datepicker" ng-model="data.birthDate" style="color: white">
                <label for="nacimiento-curriculum" style="color: white">Fecha de nacimiento</label>
            </div>
            <div class="input-field col l6 s12">
                <i class="material-icons prefix">location_on</i>
                <input placeholder="Aguascalientes" id="estado-curriculum" type="text" style="color: white;" ng-model="data.state">
                <label for="estado-curriculum">Estado</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12 s12">
                <i class="material-icons prefix">school</i>
                <input placeholder="Licenciado en Matematicas" id="titulo-curriculum" type="text" style="color: white;" ng-model="data.profession">
                <label for="titulo-curriculum">Titulo</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12 s12">
                <i class="material-icons prefix">work</i>
                <textarea placeholder="Habla un poco sobre tus habilidades" id="experience" class="materialize-textarea" style="color: white;"ng-model="data.experience"></textarea>
                <label for="experience">experiencia</label>
            </div>
        </div>
        <div class="row">
            <p id="error-formulario">{{msg}}</p>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn-large" ng-click="editar()">EDITAR CURRICULUM</a>
        </div>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/estilos/datepicker.js"></script>
<script src="js/usuario/modificar-curriculum.js"></script>
<script src="./js/usuario/redirect-unlogin.js"></script>
</body>
</html>
