<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro de el farolito</title>
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <link rel="stylesheet" href="./css/signup.css">
</head>

<body class="valign-wrapper" ng-app="user">
    <div class="container elementos" ng-controller="myCtrl">
        <div class="row center">
            <a href="./index.html"><img src="./images/elfarolito.png" class="responsive-img" width="100"></a>
        </div>
        <div class="row">
            <div class=""></div>
        </div>
        <div class="row center">
            <h4>CREAR CUENTA</h4>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_box</i>
                <input id="name" type="text" style="color: white;" ng-model="data.name">
                <label for="name">Nombres</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="text" style="color: white;" ng-model="data.email">
                <label for="email">Correo electrónico</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input id="contraseña" type="password" style="color: white;" ng-model="data.password">
                <label for="contraseña">Contraseña</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center m-0">
                <p id="error-formulario">{{msg}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a class="waves-effect waves-light btn-large" id="newUser" ng-click="submit()">CREAR CUENTA</a>
            </div>
        </div>
        <div class="row center">
            <p>¿Ya tienes cuenta de El farolito? <a href="./signup.html">Iniciar sesión</a></p>
            <p>¿Tienes una empresa? <a href="./signup-company.html">Crear tu cuenta</a></p>
        </div>
        <hr>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./js/usuario/registro.js"></script>
</body>

</html>
