<!doctype html>
<html lang="es" ng-app="user" ng-app="islog">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi perfil</title>
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="./css/usuario-perfil.css">


</head>
<body ng-controller="myCtrl" ng-controller="controlador">
<header>
    <ul id="perfil" class="dropdown-content">
        <li><a href="./usuario-perfil.html"><i class="material-icons right">settings</i>Configuración de Perfil</a></li>
        <li class="cerrar-sesion" ng-click="cerrarSesion()"><a href="#!"><i class="fas fa-sign-out-alt right"></i>Cerrar
            Sesión</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="./index.html" class="logo"><img src="./images/elfarolito.png" class="responsive-img"
                                                     width="60"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down elementos">
                <li><a href="sass.html">Perfiles laborales<i class="material-icons right">contacts</i></a></li>
                <li><a href="badges.html">Perfiles de empresas<i class="material-icons right">business_center</i></a>
                </li>
                <li class="registrar-empresa"><a href="./signup-company.html" ng-show="iniciar">Registrar mi empresa<i
                        class="material-icons right">business</i></a></li>
                <li id="sesion-web" class="iniciar-sesion" ng-show="iniciar"><a href="./login.html">Iniciar sesión<i
                        class="material-icons right">account_circle</i></a></li>
                <li class="perfil" ng-show="cerrar"><a class="dropdown-trigger" href="#!" data-target='perfil'>Mi perfil<i class="material-icons right">account_circle</i></a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html"><i class="material-icons">contacts</i>Perfiles laborales</a></li>
        <li><a href="badges.html"><i class="material-icons">business_center</i>Perfiles de empresas</a></li>
        <li class="registrar-empresa" ng-show="cerrar"><a href="./signup-company.html"><i class="material-icons">business</i>Registrar
            mi empresa</a></li>
        <li class="perfil no-mostrar"><a href="./usuario-perfil.html"><i class="material-icons">settings</i>Configuración
            de Perfil</a></li>
        <li id="sesion-cel" class="iniciar-sesion" ng-show="iniciar"><a href="./login.html"><i class="material-icons">account_circle</i>Iniciar
            sesión</a></li>
        <li class="cerrar-sesion no-mostrar perfil" ng-show="cerrar"><a href="#!"><i class="material-icons">account_circle</i>Cerrar
            sesión</a></li>
    </ul>
</header>
<div class="container curriculum center" ng-show="curriculum">
    <div class="row">
        <h4 class="center">Tu curriculum</h4>
        <hr>
    </div>
    <div class="row">
        <div class="col l12 s12">
            <p>Nombre <br>
            <p class="nombre">{{name}}</p></p>
        </div>

    </div>
    <div class="row">
        <div class="col l6 s12"><p>Dirección <br>
            <p id="direccion"></p>{{direccion}}</p></div>
        <div class="col l6 s12"><p>Telefono <br>
            <p id="telefono">{{telefono}}</p></p></div>
    </div>
    <div class="row">
        <div class="col l6 s12"><p>Correo electrónico <br>
            <p class="email"></p>{{email}}</p></div>
        <div class="col l6 s12"><p>Fecha de nacimiento <br>
            <p id="nacimiento">{{nacimiento}}</p></p></div>
    </div>
    <div class="row">
        <div class="col l6 s12"><p>País <br>
            <p id="pais">{{pais}}</p></p></div>
        <div class="col l6 s12"><p>Título <br>
            <p id="profesion">{{profesion}}</p></p></div>
    </div>
    <div class="row">
        <div class="col l12">
            <p>Experiencia<br>
            <p id="experiencia">{{experiencia}}</p></p>
            </p>
        </div>
    </div>
    <hr>
</div>

<div class="container subir-curriculum" ng-show="subirCurriculum">
    <div class="row espacio">
        <h4 class="center">No tienes un curriculum todavía</h4>
        <hr>
    </div>

    <div>
        <div class="row">
            <div class="col l8 s12 center">
                <p class="h mt-0">Que esperas sube tu curriculum ahora!</p>
                <p class="mt-0">Presiona el botón para subir tu curriculum y empezar a recibir ofertas de trabajo</p>
            </div>
            <div class="col l4 s12">
                <a class="waves-effect waves-light btn-large" id="BCurriculum" href="./curriculum.html"><i
                        class="material-icons right">assignment</i>SUBE TU CURRÍCULUM</a>
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <div class="row center espacio">
        <h5>Información de cuenta</h5>
    </div>
    <div class="row container center">
        <div class="col l12 s12">Nombre <br>
            <p class="nombre"></p>{{name}}</div>
    </div>
    <div class="row container center">
        <div class="col l6 s12">Correo electrónico <br>
            <p class="email">{{email}}</p></div>
        <div class="col l6 s12">Contraseña <br>
            <p class="password">{{password}}</p></div>
    </div>
</div>

<div class="container">
    <div class="row center espacio">
        <h5>Configuración de cuenta</h5>
    </div>
    <div class="row container center">
        <div class="col l12 s12">
            <p>Modificar contraseña</p>
        </div>

    </div>
    <div class="row container center">
        <div class="col l12 s12">
            <p>Eliminar cuenta</p>
            <a class="waves-effect waves-light btn-large eliminar modal-trigger" href="#modal1">Eliminar cuenta</a>
            <p class="grey-text lighten-2">Al eliminar tu cuenta toda tu información se perdera de nuestro sistema.</p>
        </div>
    </div>

    <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Eliminacion de cuenta</h4>
      <p>¿Estas completamente seguro de eliminar tu cuenta? <br>
        Al eliminar tu cuenta toda tu información se perdera de nuestro sistema.
      </p>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat" ng-click="eliminar()">Confirmar</a>
    </div>
  </div>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="">Footer Content</h5>
                <p class="">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container grey-text">
            Este sitio es para fines educativos
            <a class="right" href="#!">More Links</a>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./js/estilos/navbar.js"></script>
<script src="./js/estilos/modal.js"></script>
<script src="./js/usuario/sesion.js"></script>
<script src="./js/usuario/redirect-unlogin.js"></script>
</body>
</html>
